In [2]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
df.shape(10,1)

TypeError: 'tuple' object is not callable

In [22]:
X=df.drop('BMI',axis=1)
y=df.BMI
X.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,0.627,50,1
1,1,85,66,29,0,0.351,31,0
2,8,183,64,0,0,0.672,32,1
3,1,89,66,23,94,0.167,21,0
4,0,137,40,35,168,2.288,33,1

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.30)
X_test.shape(9, 1)

ModuleNotFoundError: No module named 'sklearn'

In [17]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,y_train)
LinearRegression()

ModuleNotFoundError: No module named 'sklearn'

In [19]:
from sklearn import metrics
R2=metrics.r2_score(y_test,y_pred)
R2

ModuleNotFoundError: No module named 'sklearn'

In [25]:
import seaborn as sns
import matplotlib.pyplot as plt
sns.regplot(X,y)
plt.show()